.carousel-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    perspective: 1000px;
    border-radius: 10px;
}
  
.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 20%;
    transition: transform 1s ease-in-out, filter 0.3s ease-in-out;
    transform-origin: center;
    backface-visibility: hidden;
}
  
.carousel-slide:hover .carousel-image {
    transform: scale(1.1) rotateY(15deg);
    filter: brightness(1.2);
}
  